<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Original</th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Name}}</td>
                <td>{{.Price}}</td>
                {{if eq .Original "yes"}}
                <td>Original</td>
                {{else}}
                <td>Not original</td>
                {{end}}
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>