body {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    background-color: #BCB9B9;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

/* INTRO */
.intro {
    margin-top: 17px;
    width: 100%;
    height: 963px;
}

.bg_img {
    z-index: -1;
    position: absolute;
    size: cover;
    width: 98%;
    height: 963px;
    left: 1%;
}

.clock {
    position: absolute;
    top: 27px;
    left: 28px;

}
.order {
    position: absolute;
    width: 174px;
    height: 50px;
    left: 148px;
    top: 608px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    border: none;
    text-align: center;
    color: #1E1E1E;
    background: #4B5676;
    border-radius: 38px;
}

.reviews {
    position: absolute;
    width: 187px;
    height: 50px;
    left: 142px;
    top: 684px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    color: #4B5676;
    background: #BCB9B9;
    border-radius: 38px;
}
.reviews a {
    text-decoration: none;
    color: #4B5676;
}
/* Hat */ 



/* NAV */
.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;
    width: 250px;
}
.nav_link {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.nav_link_2 {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

/* INTRO CONTENT */
.intro_title {
    position: absolute;
    width: 456px;
    height: 74px;
    left: 50px;
    top: 441px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;

    text-align: center;

    color: #FFFFFF;
}

.intro_text {
    position: absolute;
    width: 980px;
    height: 71px;
    left: -230px;
    top: 515px;

    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #FFFFFF;
}
/* BLOCK 2 */

.block_2 {
    display: flex;
    height: 1162px;
    padding-top: 50px;
}
.bl2_cont {
    display: block;
    margin: auto;
    width: 1176px;
    height: 239px;
}

.bl2_text {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #585151;
    line-height: 74px;
}

.brands {
    margin-top: 100px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #585151;
}

.clock_brands {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.clock_brands_item {
    display: block;
    position: relative;
    width: 100%;
    max-width: 356px;
    height: 447px;
}

.item_text {
    margin-top: 41px;
    margin-bottom: 110px;
    width: 230px;
    height: 29px;
    background: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #585151;
}

.footer {
    display: block;
    width: 100%;
    height: 100px;
}

hr {
    height: 3px;
    background-color: #000;
}

.links {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.contacts {
    width: 447px;
    height: 59px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    background: #4B5676;
    border-radius: 10px;
    color: white;
}

.sm {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 350px;
}

.sm_bt {
    border: none;
    cursor: pointer;
}

.catalog {
    z-index: 1;
    position: fixed;
    width: 0;
    height: 0;
    top: 15px;
    right: 15px;
    background: url(../img/menu.png);
    background-size: 45px 45px;
}

.close .menu {
    height:0px;
    transition:height 1s ease-out;
	transform: scaleY(0);
    float:left;
    display:block; 
}

.open .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -10px;
    left: -10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    max-width: 150px;
    height: 100px;
    background-color: #000;
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.4s ease-out;
	transition: transform 0.4s ease;
    box-sizing: border-box;
}

.menu_link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    color: white;
}

.ph_cont {
    display: none;
}

